body {
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
  color: white;
}
